body{
    margin: 0;
    padding: 0;
}

a {
    color: #191717; /* 기본 링크 색상 */
    text-decoration: none; /* 밑줄 제거 */
}

a:visited, a:active{
    color: #191717;
    text-decoration: none;
}

header{
    background-color:#F1EFEF;
    width: 100%;
    height: 130px;
    color: #191717;
    position: relative;
    top: 0;
    margin-bottom: 30px;
}

img{
    position: fixed;
    max-width: 300px;
    max-height: 400px;
    right: 50%;
    top:20%;
}

header h1{
    display: flex;
    padding: 10px;
    font-size: 65px;
    margin: 0;
}

.headerLeft{
    display: flex;
    align-items: center;
    position: absolute;
    right:10px;
    bottom: 10px;
    gap: 10px;
    font-size: 20px;
}

.headerLeft div{
    display: flex;
    align-items: center;
}

.home{
    position: fixed;
    top: 3%;
    left: 5%;
}


ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

ul li{
    display: flex;
    align-items: center;
}


footer{
    background-color:#CCC8AA;
    width: 100%;
    height: 100px;
    color: #191717;
    bottom: 0;
    position: fixed;
}

/* 본문 내용 */
.explain{
    width: 300px;
}

.event{
    text-align: center;
    
}

.databox{
    position: fixed;
    width: 25%;
    height: 50%;
    background-color: #7D7C7C;
    right: 25%;
    top:25%;
    opacity: 0.5; /* 전체 투명도 50% */

}

.data{
    position: fixed;
    width: 50%;
    top: 30%;
    left: 53%;
    text-align: left;
    color: #191717;
    
}

.home{
    position: fixed;
    top: 3%;
    left: 5%;
}

.menu{
    position:fixed;
    top:5%;
    right:10%;
    display: flex;
    list-style: none;
}

.menu2{
    position: relative;
    left: 50%;
}

.button{
    position: fixed;
    bottom: 20%;
    right:17%;

}
