<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/detail.css">
    <title>이벤트 상세</title>
</head>
<body>
    <header>
        <!-- 헤더 -->
        <h1><a href="/" id='home'>홈페이지</a></h1>
        <section class="headerLeft">
            <div>
                <form action="searchEvent" method="POST">
                    <input type="text" id="searchEventName" name="searchEventName">
                    <button type="submit">검색</button>
                </form>
            </div>
            <div>
                <ul>
                    <li>{% if session.user_id == 'admit' %} <a href='/upload'>행사 일정 업로드</a>{% else %}{% endif %}</li>
                    <li>{% if session %} {{session.user_id}}님 &nbsp;&nbsp;<a href='/logout'>로그아웃</a> {% else %}<a href="/login">로그인</a> {% endif %} </li>
                    <li>{% if session %} <a href="/mypage">나의 페이지</a> {% else %}<a href="/signup">회원가입</a> {% endif %}</li>
                </ul>
            </div>
        </section>
    </header>
    <section>
        {% if event %} 

        <div class="event">

            {% if event.image %}
                <img src="{{url_for('static', filename='pic/' + event.image)}}" alt="이벤트 이미지">
            {% else %}
                <p>이미지 없음</p>
            {% endif %}


            <div class="databox"></div>

            <div class="data">
                <h1 class="eventName">{{ event.eventName }}</h1>
            
                <h4 class="date">{{ event.startDate }} ~ {{ event.endDate }}</h4>
                
                <h4 class="location"><a href="https://map.kakao.com/link/search/{{event.location}}">{{ event.location }}</a></h4>
                
                <h5 class="explain">{{ event.explain }}</h5>
            </div>
            
            

            
        </div>
        <div class="button">

            {% if session.user_id == "admit" %}
            <form method="POST" action="/detail/{{no}}/update">
                <button type="submit">수정</button>
            </form>
            <form method="POST" action="/detail/{{no}}/delete">
                <button type="submit">삭제</button>
            </form>
            {% elif session.user_id %}
                {% if event.eventName in favoritesEvent %}
                    <form method="POST" action="/mypage/delete/{{event.eventName}}">
                        <input type="submit" name="deleteEvent" value="즐겨찾기 삭제">
                    </form>
                {% else %}
                    <form method="POST" action="/mypage/create/{{no}}">
                        <input type="submit" name="likes" value="즐겨찾기">
                    </form>
                {% endif%}
            {% else %}
            {% endif %}
        </div>
        {% else %}  <!-- events 리스트가 비어 있다면 -->
            <p>현재 진행 중인 전시회가 없습니다.</p>

        {% endif %}
    </section>
    <footer>
        <section>

        </section>

    </footer>
    
</body>
</html>
