<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/static/css/signup.css">
</head>
<body>
    <header>
        <!-- 헤더 -->
        <h1><a href="/" id='home'>홈페이지</a></h1>
        <section class="headerLeft">
            <div>
                <form action="searchEvent" method="POST">
                    <input type="text" id="searchEventName" name="searchEventName">
                    <button type="submit">검색</button>
                </form>
            </div>
            <div>
                <ul>
                    <li>{% if session.user_id == 'admit' %} <a href='/upload'>행사 일정 업로드</a>{% else %}{% endif %}</li>
                    <li>{% if session %} {{session.user_id}}님 &nbsp;&nbsp;<a href='/logout'>로그아웃</a> {% else %}<a href="/login">로그인</a> {% endif %} </li>
                    <li>{% if session %} <a href="/mypage">나의 페이지</a> {% else %}<a href="/signup">회원가입</a> {% endif %}</li>
                </ul>
            </div>
        </section>
    </header>
    <div class="signupContainer">
        <h2 class="signup">회원가입</h2> 
        <!-- 회원가입 폼 -->
        <form action="/signupTry" id="signupForm" style="display:contents;" method="post">
            <div class="form-group">
                <label for="signupUserid">사용자 ID:</label>
                <input type="text" id="signupUserid" name="signupUserid">
                <button type="button" id="checkDupBtn">증복 확인</button>
            </div>
            <div class="form-group">
                <label for="signupPassword">비밀 번호 :</label>
                <input type="password" id="signupPassword" name="signupPassword">
            </div>
            <div class="form-group">
                <label for="signupUsername">사용자 이름:</label>
                <input type="text" id="signupUsername" name="signupUsername">
            </div>
            <div class="form-group">
                <label for="signupUseremail">사용자 e-mail:</label>
                <input type="text" id="signupUseremail" name="signupUseremail">
            </div>
            <div>
                <button class="signupButton" type="submit">회원가입</button>
            </div>
        </form>
    </div>
    <footer>

    </footer> 
    <script src="/static/js/signup.js"></script>
</body>
</html>